@using PagedList;
@using PagedList.Mvc;

@*@model IEnumerable<Models.phieu_muon>*@
@model IPagedList<Models.phieu_muon>
@*@model IEnumerable<object>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Library.cshtml";
    //List<Models.doc_gia> lst_docgia = Model.ToList()[0] as List<Models.doc_gia>;
    //List<Models.phieu_muon> lst_phieumuon = Model.ToList()[1] as List<Models.phieu_muon>;
 
}

<div id="body">
    <div class="header">
        <div>
            <h1>MƯỢN SÁCH</h1>
        </div>
    </div>
    <div class="blog">
        
            <div class="row" id="row_tim_doc_gia">
                <form>
                    <div class="col-md-3" style=" padding-left: 0px;">

                        <div class="form-group">
                            <label for="tim_doc_gia_index">TÌM ĐỘC GIẢ</label>
                            <input type="text" class="form-control" id="tim_doc_gia_index" name="tim_doc_gia_index" value="@ViewBag.tim_doc_gia_index">
                        </div>


                    </div>

                    <div class="col-md-2" style="margin-top:24px">
                        <button type="submit" class="btn btn-primary">TÌM</button>
                    </div>
                </form>

                    <div class="col-md-2" style="margin-top:24px">@Html.ActionLink("TẠO PHIẾU MƯỢN", "Create", "MuonSach", new { }, new { @class = "btn btn-primary" })</div>
                    <div class="col-md-2" style="margin-top:24px"></div>
                    <div class="col-md-2" style="margin-top:24px"></div>
                
                </div>
        
   
        <div class="row">
            <div class="col-md-11">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>MÃ PHIẾU MƯỢN</th>
                            <th>MÃ THẺ ĐỘC GIẢ</th>
                            <th>NGÀY MƯỢN</th>
                            <th>NGÀY TRẢ</th>
                            <th>TÌNH TRẠNG</th>
                            <th>TÊN NHÂN VIÊN</th>
                        </tr>
                    </thead>
                    @{
                        if (Model.Count() == 0)
                        {
                            Response.Write("<script>alert('Không tìm thấy mã thẻ thư viện này');</script>");
                        }
                    }


                    <tbody>
                        @{
                            
                            var count = 0;
                            
                                    foreach (var item in Model)
                                {
                            
                                    count= count + 1;
                                        <tr>
                                            <td>@count</td>
                                            <td>@Html.DisplayFor(modelItem => item.ma_phieu_muon)</td>
                                            <td>@Html.DisplayFor(modelItem => item.doc_gia.ma_the_thu_vien)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ngay_muon)</td>
                                            <td>@Html.DisplayFor(modelItem => item.ngay_tra)</td>
                                            <td>
                                                @if (item.id_tinh_trang == 10)
                                                { @Html.Raw("Chưa trả");
                                                }
                                                else if ((item.id_tinh_trang == 11))
                                                { @Html.Raw("Đã trả");
                                                }

                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.nhan_vien.ho_ten)</td>
                                        <td>@Html.ActionLink("Xem", "Details", "MuonSach", new { @id = item.id }, 
                                        new { @class = "btn btn-primary" })</td>

                                        </tr>
                                }
                               
                        }

                        


                       
                       
                    </tbody>
                </table>
            </div>

            <div class="col-md-1"></div>
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                @Html.PagedListPager(Model, page => Url.Action("Index",new { page}))
                </div>
                </div>
            </div>
        </div>
            <!--       row    -->
   
       

    </div>
    <div class="footer">
       
            
        
    </div>
</div>


